<footer>
    <div class="cnt _bg _radius _aos _py-1">
        <div class="grid">
            <div> Wisp privacy test, based on <b><a href="https://github.com/Turtlecute33/adblocktest">Turtlecute's adblocktest</a></b>, itself a fork of <b><a href="https://github.com/d3ward/toolz">d3ward/toolz</a></b> (with Daniela Brozzoni). Modified by Wisp.<br><br>
                <div>
                    Licensed under <b><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">[CC BY-NC-SA 4.0]</a></b>
                </div>
            </div>
        </div>
    </div>
</footer>
