<a href="#m_test" class="skip-link">Skip to main content</a>
<header>
    <nav>
        <div class="nav-overlay"></div>
        <a href="./" aria-label="Wisp privacy test home">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" width="24" height="24" fill="currentColor">
                <path d="M89.06 48.89C86.34 49.96 83.94 52.19 81.65 55.76C80.68 57.29 79.51 59.52 79.51 59.89C79.51 60.05 79.43 60.33 79.34 60.51C79.06 61.03 78.91 62.52 78.74 66.18C78.60 69.07 78.61 69.83 78.80 70.76C78.92 71.38 79.08 72.23 79.14 72.67C79.19 73.09 79.40 73.86 79.59 74.37C79.79 74.89 79.99 75.45 80.04 75.63C80.18 76.08 81.68 78.83 82.52 80.12C83.90 82.27 87.63 86.06 89.83 87.57C90.27 87.86 91.00 88.37 91.46 88.72C92.18 89.23 93.15 89.85 94.96 90.95C95.13 91.06 95.30 91.17 95.34 91.23C95.39 91.28 95.67 91.46 95.96 91.63C96.43 91.93 98.01 93.06 99.21 93.96C100.90 95.25 103.57 97.92 103.57 98.32C103.57 98.42 103.63 98.51 103.69 98.54C104.04 98.66 105.12 100.82 105.45 101.97C105.91 103.69 105.91 106.63 105.45 108.68C105.26 109.44 105.09 110.24 105.06 110.45C105.01 110.65 104.92 110.88 104.83 110.97C104.73 111.07 104.66 111.27 104.66 111.41C104.66 111.67 102.98 115.07 102.67 115.44C102.56 115.57 102.22 116.05 101.91 116.51C101.24 117.51 100.02 119.06 99.83 119.12C99.75 119.15 99.69 119.25 99.69 119.34C99.69 119.62 96.79 122.66 90.21 129.33C86.74 132.84 83.52 136.24 83.04 136.86C82.55 137.50 81.70 138.57 81.16 139.25C80.60 139.94 80.15 140.56 80.13 140.63C80.13 140.71 79.98 140.99 79.78 141.26C79.34 141.84 78.53 143.15 77.91 144.30C77.65 144.76 77.32 145.34 77.15 145.57C77.00 145.79 76.87 146.05 76.87 146.16C76.87 146.25 76.70 146.70 76.50 147.14C75.51 149.31 74.45 152.48 74.00 154.62C73.85 155.30 73.68 156.02 73.60 156.22C72.96 157.85 72.73 166.21 73.21 169.83C73.37 170.93 73.54 171.91 73.61 172.00C73.68 172.08 73.78 172.50 73.83 172.93C73.96 173.73 74.33 175.39 74.50 175.81C74.54 175.93 74.61 176.12 74.62 176.21C74.75 176.75 75.41 178.57 75.58 178.83C75.69 179.00 75.79 179.25 75.79 179.39C75.79 179.62 76.07 180.34 76.90 182.17C77.28 182.99 77.32 183.08 78.24 184.73C78.63 185.41 79.02 186.11 79.11 186.28C79.37 186.75 79.88 187.51 79.99 187.60C80.04 187.65 80.29 187.99 80.52 188.38C80.77 188.77 81.31 189.50 81.73 190.01C82.15 190.52 82.76 191.25 83.07 191.62C83.70 192.41 85.88 194.60 86.67 195.25C88.70 196.95 90.25 198.12 91.93 199.24C93.87 200.56 97.84 202.67 99.50 203.28C99.98 203.45 100.53 203.67 100.70 203.74C101.18 203.96 102.84 204.55 103.10 204.58C103.24 204.60 103.41 204.66 103.52 204.72C103.62 204.78 104.27 204.97 104.98 205.14C105.70 205.33 106.39 205.50 106.52 205.54C106.98 205.68 110.34 206.40 110.86 206.46C111.16 206.49 112.14 206.63 113.04 206.75C116.03 207.19 120.66 207.36 124.35 207.17C126.20 207.07 128.48 206.88 129.41 206.75C130.36 206.61 131.34 206.49 131.59 206.46C132.07 206.40 135.43 205.67 135.85 205.53C135.98 205.48 136.58 205.33 137.17 205.17C137.78 205.02 138.52 204.77 138.86 204.63C139.19 204.49 139.52 204.36 139.59 204.36C139.78 204.36 142.92 203.17 143.85 202.75C148.08 200.79 150.97 199.09 153.84 196.81C156.37 194.79 157.83 193.45 159.24 191.85C161.12 189.74 161.67 189.09 162.52 187.96C163.42 186.75 163.70 186.30 164.79 184.39C165.11 183.81 165.58 183.01 165.81 182.62C166.62 181.27 168.39 176.83 168.84 175.03C168.85 174.98 168.91 174.84 168.96 174.72C169.07 174.47 169.67 171.79 169.75 171.15C169.78 170.93 169.89 170.37 169.98 169.91C170.06 169.44 170.22 167.91 170.33 166.49C170.56 162.98 170.42 160.10 169.77 155.24C169.63 154.23 169.05 151.19 168.98 150.97C168.91 150.85 168.85 150.63 168.82 150.51C168.62 149.40 167.87 146.67 167.58 145.88C167.38 145.35 167.21 144.84 167.21 144.75C167.21 144.65 167.11 144.36 166.99 144.10C166.88 143.82 166.52 142.90 166.20 142.05C165.34 139.80 164.38 137.58 163.00 134.71C162.32 133.31 161.77 132.14 161.77 132.10C161.77 132.04 161.45 131.34 161.04 130.51C160.11 128.57 159.88 128.03 159.31 126.53C158.19 123.53 157.27 120.22 157.27 119.20C157.27 118.95 157.23 118.70 157.18 118.64C157.07 118.53 156.95 117.20 156.95 116.28C156.96 114.96 157.29 113.22 157.79 111.86C158.11 110.94 159.34 109.02 160.00 108.37C160.69 107.70 160.75 107.65 161.73 107.02C162.08 106.78 162.86 106.12 163.47 105.54C164.47 104.58 164.57 104.42 164.57 103.86C164.57 103.06 164.26 102.62 163.36 102.19C162.71 101.89 162.40 101.85 160.61 101.86C157.75 101.88 155.88 102.39 152.62 103.99C150.58 105.00 150.23 105.25 148.81 106.57C146.32 108.91 145.55 109.81 144.65 111.47C142.85 114.81 142.71 115.52 142.61 122.26C142.53 126.60 142.62 127.32 143.61 130.25C144.50 132.87 144.47 132.77 144.22 132.55C144.11 132.44 143.88 132.35 143.71 132.35C143.01 132.33 139.70 130.20 139.33 129.54C139.25 129.40 138.80 128.81 138.31 128.23C137.82 127.66 137.39 127.02 137.33 126.80C137.28 126.59 137.06 126.18 136.85 125.90C136.65 125.63 136.29 124.79 136.07 124.03C135.85 123.27 135.64 122.54 135.59 122.41C135.53 122.29 135.47 122.04 135.45 121.87C135.43 121.70 135.34 121.11 135.25 120.55C135.05 119.31 135.05 116.13 135.25 114.96C135.33 114.50 135.42 113.92 135.45 113.70C135.48 113.49 135.59 113.15 135.68 112.98C135.78 112.80 135.85 112.42 135.85 112.14C135.85 111.86 135.96 111.21 136.10 110.69C136.23 110.18 136.33 109.65 136.35 109.53C136.35 109.41 136.41 109.22 136.49 109.14C136.55 109.05 136.69 108.63 136.79 108.21C136.88 107.79 137.05 107.23 137.17 106.97C137.28 106.72 137.41 106.33 137.45 106.12C137.50 105.90 137.72 105.06 137.95 104.25C138.18 103.45 138.38 102.64 138.41 102.47C138.43 102.30 138.49 102.05 138.54 101.92C138.65 101.64 139.14 98.98 139.39 97.42C139.55 96.41 139.47 91.31 139.30 90.59C139.21 90.21 139.07 89.54 138.97 89.09C138.90 88.65 138.71 88.08 138.59 87.82C138.45 87.57 138.34 87.26 138.34 87.15C138.34 86.84 136.47 83.16 135.84 82.21C135.53 81.75 135.09 81.00 134.88 80.58C134.63 80.09 133.79 79.12 132.56 77.90C129.68 75.03 126.68 73.13 123.67 72.28C122.99 72.08 122.24 71.83 122.01 71.70C121.78 71.60 120.30 71.25 118.75 70.96C116.37 70.52 115.54 70.43 113.66 70.43C105.85 70.39 101.21 70.00 98.73 69.16C98.25 69.00 97.76 68.86 97.66 68.86C97.45 68.86 96.86 68.62 94.80 67.62C93.47 66.99 93.06 66.69 91.88 65.51C91.14 64.77 90.31 63.77 90.05 63.32C89.09 61.65 88.75 59.04 89.20 56.91C89.51 55.47 90.05 53.96 90.47 53.41C90.95 52.78 91.59 51.31 91.71 50.56C91.82 49.90 91.49 49.11 91.01 48.84C90.62 48.64 89.65 48.66 89.06 48.89ZM157.52 75.71C156.84 75.79 156.22 75.91 156.12 76.00C156.05 76.08 155.86 76.16 155.72 76.16C155.58 76.16 154.94 76.41 154.31 76.73C152.66 77.54 150.99 79.23 150.21 80.89C149.64 82.10 149.14 84.11 149.16 85.16C149.16 86.11 149.51 87.82 149.87 88.72C150.27 89.72 151.48 91.60 152.01 92.08C152.85 92.81 154.93 93.98 155.88 94.24C157.06 94.57 160.04 94.61 161.15 94.32C163.85 93.64 166.57 91.21 167.45 88.73C167.59 88.34 167.78 87.86 167.89 87.66C168.00 87.43 168.06 86.42 168.06 85.10C168.06 83.19 168.01 82.79 167.70 81.98C166.45 78.75 163.22 76.05 160.22 75.76C159.76 75.71 159.23 75.65 159.06 75.63C158.89 75.60 158.19 75.65 157.52 75.71ZM83.62 91.21C83.55 91.29 83.16 91.62 82.79 91.94C81.67 92.91 80.30 95.30 79.68 97.36C78.74 100.54 79.09 104.47 80.51 106.30C80.72 106.60 80.91 106.89 80.91 106.94C80.91 107.28 82.71 109.11 84.07 110.15C86.84 112.23 87.69 113.47 87.85 115.58C87.94 116.86 87.77 117.48 87.02 118.56C86.62 119.14 86.03 121.06 86.03 121.81C86.03 122.55 86.48 122.77 87.85 122.69C89.15 122.60 89.62 122.40 91.63 121.06C93.34 119.94 95.27 117.71 96.32 115.65C96.91 114.50 97.36 112.37 97.36 110.76C97.36 109.87 97.30 108.96 97.21 108.69C97.13 108.43 96.96 107.76 96.80 107.22C96.51 106.05 95.48 104.36 94.43 103.31C93.59 102.48 92.21 101.49 90.35 100.39C89.60 99.95 88.67 99.32 88.28 98.98C87.89 98.63 87.51 98.35 87.44 98.35C87.23 98.35 86.31 96.80 86.08 96.06C85.91 95.51 85.88 94.89 85.94 93.62C86.00 92.67 85.98 91.84 85.92 91.74C85.49 91.15 84.06 90.83 83.62 91.21ZM176.29 95.25C174.55 95.62 173.06 96.71 172.06 98.34C170.68 100.56 171.12 103.66 173.06 105.51C174.02 106.43 174.58 106.78 175.43 107.03C175.82 107.16 176.36 107.31 176.63 107.40C177.05 107.54 177.40 107.51 178.49 107.22C180.03 106.81 180.79 106.35 181.92 105.12C182.96 103.97 183.27 103.07 183.27 101.13C183.27 99.75 183.22 99.58 182.73 98.59C182.06 97.25 181.07 96.26 179.86 95.70C178.82 95.22 177.30 95.03 176.29 95.25Z" />
            </svg>
            <span class="wordmark">Wisp <b>AdBlock Test</b></span>
        </a>
        <ul>
            <li>
                <a href="#" data-a11y-dialog-show="dlg_support">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M0 0h24v24H0z" stroke="none" />
                        <path d="M3 14c.83.642 2.077 1.017 3.5 1 1.423.017 2.67-.358 3.5-1 .83-.642 2.077-1.017 3.5-1 1.423-.017 2.67.358 3.5 1M8 3a2.4 2.4 0 00-1 2 2.4 2.4 0 001 2M12 3a2.4 2.4 0 00-1 2 2.4 2.4 0 001 2" />
                        <path d="M3 10h14v5a6 6 0 01-6 6H9a6 6 0 01-6-6v-5zM16.746 16.726a3 3 0 10.252-5.555" />
                    </svg>
                    &nbsp; Support
                </a>
            </li>
            <li>
                <a href="https://github.com/Orellius/wisp-adblock-test" target="_blank" rel="noopener noreferrer" aria-label="View project on GitHub (opens in new tab)">

                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5">
                        </path>
                    </svg>
                    &nbsp; GitHub
                </a>
            </li>
            <li>
                <div class="nav-item theme-toggle" role="switch" tabindex="0" aria-checked="false" aria-label="Toggle dark mode">
                    <span class="light-icon theme-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z">
                            </path>
                            <path d="M17 4a2 2 0 0 0 2 2a2 2 0 0 0 -2 2a2 2 0 0 0 -2 -2a2 2 0 0 0 2 -2">
                            </path>
                            <path d="M19 11h2m-1 -1v2"></path>
                        </svg>
                    </span>
                    <span class="dark-icon theme-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M14.828 14.828a4 4 0 1 0 -5.656 -5.656a4 4 0 0 0 5.656 5.656z">
                            </path>
                            <path d="M6.343 17.657l-1.414 1.414"></path>
                            <path d="M6.343 6.343l-1.414 -1.414"></path>
                            <path d="M17.657 6.343l1.414 -1.414"></path>
                            <path d="M17.657 17.657l1.414 1.414"></path>
                            <path d="M4 12h-2"></path>
                            <path d="M12 4v-2"></path>
                            <path d="M20 12h2"></path>
                            <path d="M12 20v2"></path>
                        </svg>
                    </span>
                </div>
            </li>
        </ul>
        <button aria-label="Nav menu" class="btn-p">
            <svg aria-hidden="true" version="1.1" viewBox="0 0 24 24">
                <line x1="2" y1="4" x2="22" y2="4" id="top" />
                <line x1="2" y1="12" x2="22" y2="12" id="middle-down" />
                <line x1="2" y1="12" x2="22" y2="12" id="middle-up" />
                <line x1="2" y1="20" x2="22" y2="20" id="bottom" />
            </svg>
        </button>
    </nav>
</header>
