<div class="dialog" id="dlg_category" data-a11y-dialog="dlg_category" aria-labelledby="dlg_category-title" aria-hidden="true">
    <div class="dialog-overlay" data-a11y-dialog-hide></div>
    <div class="dialog-content">
        <header>
            <h3 id="dlg_category-title">Category</h3>
            <button data-a11y-dialog-hide aria-label="Close category details"><svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12">
                    </path>
                </svg></button>
        </header>
        <section>
            <div id="dlg_category_body"></div>
        </section>
        <footer>
            <button data-a11y-dialog-hide aria-label="Close dialog">
                Close
            </button>
        </footer>
    </div>
</div>
